.env

Makefile


/cmd/web/out
/cmd/web/.env
/cmd/web/service

/cmd/api/.env
/cmd/api/config.yaml
/cmd/api/uploads
/cmd/api/service


/deployments/compose/.dbstorage

/deployments/staging/.dbstorage
/deployments/staging/data



/deployments/staging/key.pem
/deployments/staging/cert.pem

/deployments/prod/key.pem
/deployments/prod/cert.pem


/deployments/staging/*.conf
/deployments/staging/config.yaml
/deployments/staging/.env


/deployments/prod/*.conf
/deployments/prod/config.yaml

